<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Phaser Development Enviroment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <style type="text/css">
            body {
                margin: 0px;
                padding: 0px;
                /*background: black;*/
            }
        </style>
    </head>
    <body>
        <script type="text/javascript" src="/scripts/phaser-ce/build/phaser.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>